:root {
    --color-pink: rgb(252, 70, 114);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-pink);
    background: radial-gradient(circle, var(--color-pink) 0%, rgba(250, 0, 0, 1) 100%);
    color: white;
}

input[name="key"], input[name="key"]:focus {
    max-width: 10em;
    color: white;
    background: var(--color-pink);
}

.input-group-text {
    background: red;
    color: white;
    border-color: white;
}

.bg-pink {
  background: var(--color-pink);
}

.pink {
    color: var(--color-pink);
}

.content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.btn-help {
    color: var(--color-pink);
}

.table {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}

.table-bordered {
    border: var(--color-pink) 5px solid;
}

.table-bordered td {
    border: var(--color-pink) 3px solid;
}

.popover-header {
    color: red;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}