body {
    background: rgb(252, 70, 114);
    background: radial-gradient(circle, rgb(252, 70, 114) 0%, rgba(250, 0, 0, 1) 100%);
    color: white;
}

.content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.countdown {
    text-align: center;
}

.bt {
    border: white solid 1px;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 1.5rem;
    font-size: 3rem;
}

.bt:hover {
    cursor: pointer;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.table {
    color: white;
    text-align: center;
    font-weight: bold;
}

.popover-header {
    color: red;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}